
# ~BrieFlow analysis configuration file~

# All paths are resolved relative to the directory the workflow is run from.

# Parameters:
all:
  root_fp: brieflow_output/
preprocess:
  sbs_samples_fp: config/sbs_samples.tsv
  sbs_combo_fp: config/sbs_combo.tsv
  phenotype_samples_fp: config/phenotype_samples.tsv
  phenotype_combo_fp: config/phenotype_combo.tsv
  sbs_data_format: nd2
  sbs_data_organization: well
  sbs_channel_order:
  - DAPI-CY3_30p_545-A594_30p-CY5_30p-CY7_30p
  - CY3_30p_545
  - A594_30p
  - CY5_30p
  - CY7_30p
  sbs_channel_order_flip: false
  sbs_n_z_planes: null
  sbs_metadata_samples_df_fp: null
  phenotype_data_format: nd2
  phenotype_data_organization: well
  phenotype_channel_order:
  - DAPI_1x1-GFP_1x1
  - GFP_1x1
  - A594_1x1
  - AF750_1x1
  phenotype_channel_order_flip: false
  phenotype_round_order:
  - 1
  - 2
  phenotype_n_z_planes: null
  phenotype_metadata_samples_df_fp: null
  sample_fraction: 0.5
sbs:
  alignment_method: sbs_mean
  channel_names:
  - DAPI
  - G
  - T
  - A
  - C
  upsample_factor: 1
  skip_cycles_indices: null
  manual_background_cycle_index: null
  manual_channel_mapping: null
  extra_channel_indices:
  - 0
  max_filter_width: 3
  spot_detection_method: standard
  dapi_cycle: 1
  cyto_cycle: 11
  cyto_cycle_index: 10
  dapi_index: 0
  cyto_index: 4
  segmentation_method: cellpose
  gpu: false
  reconcile: contained_in_cells
  segment_cells: true
  df_barcode_library_fp: config/barcode_library.tsv
  threshold_peaks: 400
  call_reads_method: median
  bases:
  - G
  - T
  - A
  - C
  q_min: 0
  error_correct: false
  sort_calls: count
  barcode_type: simple
  barcode_col: sgRNA
  prefix_col: prefix
  peak_width: 5
  nuclei_diameter: 9.440697438826296
  cell_diameter: 18.847647942942654
  nuclei_flow_threshold: 0.4
  nuclei_cellprob_threshold: 0.0
  cell_flow_threshold: 1
  cell_cellprob_threshold: 0
  cyto_model: cyto3
phenotype:
  foci_channel_index: 2
  channel_names:
  - DAPI
  - TUBULIN
  - GH2AX
  - PHALLOIDIN
  align: true
  dapi_index: 0
  cyto_index: 3
  segmentation_method: cellpose
  reconcile: contained_in_cells
  gpu: false
  cp_method: cp_multichannel
  nuclei_diameter: 42.684959745981
  cell_diameter: 68.05913211132304
  nuclei_flow_threshold: 0.4
  nuclei_cellprob_threshold: 0.0
  cell_flow_threshold: 1
  cell_cellprob_threshold: 0
  cyto_model: cyto3
  alignments:
    1:
      target: 0
      source: 2
      riders:
      - 3
      remove_channel: false
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -5
        - 10
        3:
        - -5
        - 10
    2:
      steps:
      - target: 0
        source: 2
        riders: []
        remove_channel: false
      - target: 2
        source: 3
        riders:
        - 4
        remove_channel: source
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -5
        - 12
        3:
        - -5
        - 12
    3:
      target: 0
      source: 2
      riders:
      - 3
      remove_channel: false
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -12
        - 15
        3:
        - -12
        - 15
    4:
      steps:
      - target: 0
        source: 2
        riders:
        - 3
        remove_channel: false
      - target: 1
        source: 4
        riders: []
        remove_channel: target
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - 0
        - 7
        3:
        - 0
        - 7
    5:
      target: 0
      source: 2
      riders:
      - 3
      remove_channel: false
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -5
        - 12
        3:
        - -5
        - 12
    6:
      steps:
      - target: 0
        source: 2
        riders:
        - 3
        remove_channel: false
      - target: 1
        source: 4
        riders: []
        remove_channel: target
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - 0
        - 15
        3:
        - 0
        - 15
    7:
      steps:
      - target: 0
        source: 2
        riders:
        - 3
        remove_channel: false
      - target: 1
        source: 4
        riders: []
        remove_channel: target
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -5
        - 12
        3:
        - -5
        - 12
    8:
      steps:
      - target: 0
        source: 2
        riders:
        - 3
        remove_channel: false
      - target: 1
        source: 4
        riders: []
        remove_channel: target
      window: 2
      upsample_factor: 4
      custom_channel_offsets:
        2:
        - -12
        - 12
        3:
        - -12
        - 12
merge:
  approach: fast
  merge_combo_fp: config/merge_combo.tsv
  sbs_metadata_cycle: 1
  score: 0.1
  threshold: 3
  sbs_metadata_channel: null
  ph_metadata_channel: null
  alignment_flip_x: false
  alignment_flip_y: false
  alignment_rotate_90: false
  sbs_dedup_prior:
    fov_distance_0: true
  pheno_dedup_prior:
    mapped_single_gene: false
    fov_distance_1: true
  initial_sites:
  - - 1
    - 1
  - - 76
    - 23
  - - 174
    - 44
  - - 324
    - 85
  - - 467
    - 119
  - - 656
    - 174
  - - 787
    - 200
  - - 970
    - 254
  - - 1084
    - 277
  - - 1218
    - 316
  - - 1277
    - 330
  det_range:
  - 0.06
  - 0.065
